*.DS_store
mqtt/max/package-lock.json
mqtt/max/package.json
mqtt/max/node_modules/
mqtt/csound/node_modules/
mqtt/python/node_modules/
mqtt/csound/package.json
mqtt/csound/package-lock.json
mqtt/python/package.json
mqtt/python/package-lock.json
core/__pycache__/
core/node_modules/
core/package-lock.json
core/package.json
